[2012-08-30 14:11] lissyx opened #6 "An open web app for reading barcodes"
This project is part of the ongoing [Open Web Applications](http://www.mozilla.org/en-US/apps/partners/) effort led by [http://www.mozilla.org](Mozilla) to liberate users from the closed, locked apps and app stores. Open Web Applications bring the power and the freedom of the web to desktops, tablets, cellphones.

The objective of this project is to implement an [open web application](https://deve

[2012-08-30 14:31] Yoric opened #11 "An open web app to remember what I have lent to whom and when"
This project is part of the ongoing [Open Web Applications](http://www.mozilla.org/en-US/apps/partners/) effort led by [http://www.mozilla.org](Mozilla) to liberate users from the closed, locked apps and app stores. Open Web Applications bring the power and the freedom of the web to desktops, tablets, cellphones.

Consider the following scenario: Friends borrow my books. I forget which friends. I

[2012-08-31 14:33] lissyx commented on #6
An application that could read QR Codes and any other kind of barcode (1D, 2D) could be very useful, especially in the context of Boot2Gecko/FirefoxOS.

Features :
- Scanning 1D/2D barcode using the camera
- Extracting content
- Interacting with the user (e.g., if it's an URL open it, etc.)
- Provide MozActivity to allow other application to use barcode reading features

[2012-09-06 08:44] AntoineTurmel opened #21 "Backup SMS OWA"
This project is part of the ongoing Open Web Applications effort led by http://www.mozilla.org to liberate users from the closed, locked apps and app stores. Open Web Applications bring the power and the freedom of the web to desktops, tablets, cellphones.

I would like an app to be able to save all my SMS in a file, to make a backup. You can look at Android app to be cross-compatible using XML fi

[2012-10-29 09:47] etiennesegonzac opened #47 "Port Firefox mobile Reader mode to Gaia's browser app"
More infos on the reader mode: http://lucasr.org/2012/09/03/reader-mode-in-firefox-beta-for-android/
Source for the gaia browser app: https://github.com/mozilla-b2g/gaia/tree/master/apps/browser

[2012-12-17 10:34] AntoineTurmel opened #55 "Add ownCloud support for Thunderbird Filelink feature"
More information here:

https://bugzilla.mozilla.org/show_bug.cgi?id=770256
https://github.com/owncloud/core/issues/699
http://bugs.owncloud.org/thebuggenie/owncloud/issues/oc-1598

Short:
Thunderbird allow upload of big files on web services like YouSendIt and Dropbox. It would great to be able to upload files on your own server using ownCloud.

[2012-12-22 09:06] Yoric opened #56 "Add a file picker to FirefoxOS"
At the time of its first release, Firefox OS will come without a file picker, i.e. applications will not be able to prompt the user to choose a file. However, it is quite possible to implement a file picker using existing APIs.

The objective of this project is to implement in JavaScript, HTML and CSS a file picker, using:
- the [Device Storage API](https://wiki.mozilla.org/WebAPI/DeviceStorageAPI

[2012-12-22 09:11] Yoric commented on #56
See https://bugzilla.mozilla.org/show_bug.cgi?id=801635 for a discussion on the API of this file picker.

[2013-01-16 16:56] Yoric opened #58 "File transfer open web application (ftp client)"
The objective of this project is to implement an open web application implementing the [FTP](en.wikipedia.org/wiki/FTP) protocol.

[2013-01-17 00:31] AntoineTurmel commented on #58
+1 with also sftp

[2013-03-18 14:52] alefattorini commented on #55
Sorry but using "webdav for filelink" addon i can configure webdav repository of owncloud,
But something is wrong.. when TB try to insert the link i have this error:
"Unable to upload LJxxxx.epub to WebDAV"
Any help? Could be an useful feature!!

[2013-04-18 13:14] sadouanouan commented on #58
Bonjour, pourrait-on avoir un peu des détails sur ce projet. C'est un projet qui m’intéresse.

[2013-04-18 13:35] Yoric commented on #58
Malheureusement, pour pouvoir démarrer ce projet, il va falloir attendre que la fonctionnalité [TCPSocket](https://developer.mozilla.org/en-US/docs/DOM/TCPSocket) soit disponible pour toutes les applications. Je vais enlever ce projet de la liste pour le moment.

[2013-04-18 13:39] sadouanouan commented on #58
ok

[2013-05-29 18:59] sushant-hiray commented on #11
@Yoric I'm interested in working on this project. I don't have any experience of developing open web applications, but I'll surely love to start off. This does seem to be a good starting option.

[2013-05-29 21:35] Yoric commented on #11
Hi @sushant-hiray.
That's great. Unfortunately, at the moment, I am too busy to mentor this.
You can try finding a mentor on our [introduction irc channel](http://client00.chat.mibbit.com/?server=irc.mozilla.org&channel=%23introduction&nick=sushanthiray).

[2013-06-04 06:33] amodnn commented on #56
Hello,
I am interested to contribute in the project. I selected it since I had worked on the concept earlier at https://github.com/amodnn/pickApplication where I had written the code for the requesting application. Also I had implemented export feature at https://github.com/amodnn/editOnTheGo/blob/gh-pages/js/export.js where I had written the code for the rendering application.

When discussed on

[2013-06-04 17:45] nickdesaulniers commented on #11
I'll be happy to help.  You can find me on irc.mozilla.org usually in #openwebapps using the handle `\n`.  Or shoot me an email [first letter of first name][last name] at mozilla dot com.

[2013-06-04 17:53] sushant-hiray commented on #11
@nickdesaulniers Thanks a lot :)
@Yoric  I guess @nickdesaulniers  will mentor us. I'll create a repository shortly and post the link here.
I will working on this project along with my friend @gargsanchit31

[2013-06-04 17:56] nickdesaulniers commented on #11
@sushant-hiray when you have questions, feel free to mention me in the relevant issues and I'll get an email notification.

[2013-06-07 11:09] anandsoni11 commented on #21
@GeekShadow I would like to contibute to this project. Can you tell me what exactly do we need to do? Also, can you mentor me on this project?

[2013-06-07 11:30] AntoineTurmel commented on #21
@anandsoni11
Sure ! You will need to do a webapp that use access to SMS to make a backup, and allow restoring.
For example you can look at the current SMS app of Firefox OS:
https://github.com/mozilla-b2g/gaia/tree/master/apps/sms

An use case would be:
- Export SMS from Android on a .xml file
- Import this xml file on Firefox OS

You will need to write all values in the matching database.

You ca

[2013-06-07 16:34] anandsoni11 commented on #21
@GeekShadow please guide me on how to begin. What environment do I need to set up and what tools/API's that I need to know?

[2013-06-10 08:00] AntoineTurmel commented on #21
@anandsoni11
You need text editor to edit HTML/CSS/JavaScript (like vim, geany, notepad++).
You can get templates for your app here: https://github.com/mozilla/mortar
For tools you can use Firefox OS Simulator which is an add-on installable here: https://addons.mozilla.org/fr/firefox/addon/firefox-os-simulator/ also Firefox have some very good developers tools built-in.
For API you should look on

[2013-06-15 18:02] amodnn commented on #56
the repository : https://github.com/amodnn/filePicker/tree/gh-pages
it is hosted at : http://amodnn.github.io/filePicker

the project will function only in Firefox OS Simulator.

[2013-06-15 18:12] amodnn commented on #56
kaze will be mentoring the project but he is busy till August. Till then i would be contributing to it,

[2013-07-23 15:17] AntoineTurmel commented on #21
@anandsoni11 are you still ok to work on this project ?

[2013-09-18 02:21] gasolin commented on #6
I got similar idea and like to elaborate more on this topic.
Since QRCode is the tech that need no extra hardware support. It's a good fit and we can deeply integrate it in Firefox OS.

For example:
- scan QRCode to auto-configure wifi settings
- scan QRCode to redirect user to MarketPlace

And I believe once we have NFC support, we can reuse these infrastructures, too.

[2013-10-29 19:23] hansgogia commented on #21
@GeekShadow is this still alive?

[2013-10-29 20:35] AntoineTurmel commented on #21
@hansg01 hmm the project is still open yup

[2013-10-30 04:15] hansgogia commented on #21
@GeekShadow Alright, I have read the pre requisites above and shall be working on this. Anything else I need to know?

[2013-10-30 08:02] hansgogia commented on #21
@GeekShadow Alright then. i have read the pre requisites mentioned above and will be contributing on this project. Is there anything else I need to know?

[2013-10-30 09:46] AntoineTurmel commented on #21
No you can go on :)

[2013-11-05 10:29] Desiderius77 opened #65 "Import of ICS Files in the agenda of Firefox OS"
Currently, the Agenda of Firefox OS only allows import of calendaring data through Google or CalDav servers. The objective of this project is to develop the importation of such data from local ICS files.

[2014-01-16 15:22] Yoric opened #72 "Multi-profile Firefox"
Firefox has a hidden feature that lets a user manage several profiles in different windows (a profile has its own identity, add-ons, cookies, history, etc.). However, there is no menu or button to handle this.

The objective of this project is to develop a Firefox add-on to make this feature available for users.

[2014-01-18 02:00] lpy commented on #72
Seems interesting. Could you please provide more information to help me start this? I am willing to have a try.

[2014-01-18 08:45] Yoric commented on #72
At the moment, launching Firefox from the command line with options `firefox --no-remote --ProfileManager` opens a new Firefox with the profile dialog which lets users choose a profile (it might be `firefox /no-remote /ProfileManager` under Windows, I haven't checked). Similarly, `firefox --no-remote -P path/to/the/profile/dir` opens a new Firefox with the given profile.

That's not ideal, because

[2014-01-18 14:46] Mte90 commented on #72
There is this extension for firefox for open a new window of firefox with a different profile https://addons.mozilla.org/en-US/firefox/addon/profileswitcher/

[2014-01-18 22:29] Yoric opened #73 "Guitar tuning tool"
It would be useful for guitar players to have a tool that can help them tune their instrument:
- [play the expected frequency](https://developer.mozilla.org/en-US/docs/Web_Audio_API) for each string so that guitar players can tune by ear (easy);
- [perform sound recognition](https://developer.mozilla.org/en-US/docs/Web/API/Navigator.getUserMedia) using the microphone on the sound played by the gui

[2014-01-19 04:54] arasbm commented on #73
Hi Yoric, this sounds very interesting to me and I would love to make a good and usable tuner for FirefoxOS. I use [PitchLab tuner](https://play.google.com/store/apps/details?id=com.symbolic.pitchlab) on my android devices and it is by far one of the best tuner apps I have used. Perhaps we can get some inspiration from that and other well received tuner apps out there.

I am an intermediate js dev

[2014-01-19 11:44] Yoric commented on #73
Sounds good. I'll be one of the first users of the tool :)

I believe that the main difficulties you will encounter will be with generating (not too difficult), capturing (not too difficult) and treating sound (harder). I'll ask someone who knows these APIs well to serve as mentor.

[2014-01-19 17:09] Yoric commented on #72
Good point, @Mte90. I guess this project becomes "See if  https://addons.mozilla.org/en-US/firefox/addon/profileswitcher/ can be improved, improve it if possible."

[2014-01-20 10:58] padenot commented on #73
I can mentor this if needed, feel free to ask questions.

[2014-01-20 13:45] ghost commented on #65
My team project (M2 Miage Evry) is interested to do this project .

[2014-01-20 14:32] Desiderius77 commented on #65
Give the names of all people in your team , add the link to your Github project and have fun :)

[2014-01-20 14:46] ghost commented on #65
team work : tjoker, Boss2509 and maybe another one guy but not sure . I update this list in few days .

[2014-01-20 18:21] arasbm commented on #73
Thank you Paul, that would be great!
I will create a base repo in the next couple of days and will link here. Just wondering right now, do you know what version of FirefoxOS we will be targeting? I think the last time I checked `getUserMedia` was not yet supported in FirefoxOS, but I believe it has been added to a recent version, I just don’t know which one.

[2014-01-20 21:45] padenot commented on #73
Aras, you need getUserMedia + Web Audio for that. I'd recommend you to get a gecko master to experiment.

[2014-01-27 05:45] arasbm commented on #73
Here is the skeleton repository: https://github.com/arasbm/tuning-fox

It does not do anything yet. I put a couple of small modules in it for saving settings and detecting gestures for later use, and the icon is a placeholder for now. I will checkout gecko master in the next few days and try to get that rolling (I have not done that before so it may take a bit longer). Please watch that repo, and

[2014-01-27 13:36] ghost commented on #65
My final team work is :
- Boss2509
- tjoker
- JJamesR

We are ready to work on this project,  if you have any advice we take it .

We start reading :
- ICalendar Format
- Firefox os simulator
- RFC 2445
- Mozilla Lightning  / Sunbird

[2014-01-27 13:39] Desiderius77 commented on #65
OK ! Just put your Github repo here !

Have also a look at the code of Agenda in Gaia !

[2014-01-28 09:34] ghost commented on #65
The repo : https://github.com/tjoker/ICSFile

Have you some links for the code ?
There is some docs too ?

[2014-01-28 10:22] Yoric commented on #65
Since you are modifying the code of the Gaia Agenda, you will actually need to fork [gaia](https://github.com/mozilla-b2g/gaia/). For more instructions, see [Hacking Gaia](https://wiki.mozilla.org/Gaia/Hacking).

[2014-02-24 17:56] Mte90 commented on #73
http://www.freetuner.co/
Add a manifest for this?

[2014-02-25 06:48] gasolin commented on #6
Have a workable barcode scanner http://gasolin.github.io/qrcode_scanner/
http://www.youtube.com/watch?v=F-bqH-0tYnk

project source
https://github.com/gasolin/qrcode_scanner/

welcome to contribute!

[2014-03-11 00:01] klgrooms commented on #72
I would be interested in trying to improve this as an add-on if still desired.

[2014-04-15 09:42] ghost commented on #65
Hi , i have some problems to test my " gaia calendar apps" in firefox:
- For now i fork gaia in my repo and clone it on my computer.
  -I downloaded B2G clients
  -I downloaded firefox os simulator

But what ever i try i can't create the "profile" when they said "debug=1 make" , on windows 7 .

The command "make" doesn't exist on windows 7, so i dowlnand "MinGW" and few packages .. but after all i

[2014-04-15 12:11] julienw commented on #65
To build on Windows, you should install MozillaBuild, see https://wiki.mozilla.org/MozillaBuild

This will provide you the same environment we use to build on Windows. That said, we don't develop on Windows on day to day so there might be small issues. If you want to be sure that you'll have no issue, you can use a virtual machine with Linux. By chance, @ttaubert created ready-to-use virtual machi

[2014-04-15 13:22] ghost commented on #65
First ,thanks a lot for the replay . What i am trying to do is start gaia (previously downloaded)  throw firefox ( on windows 7) but for now i  have failed . I will try your solution and come back to you to inform you it's a  success or not .
Thanks.

[2014-04-19 12:15] ghost commented on #65
Hi, after few research, i will try for the vm it's seems more appropriate, but it's take a while ...
And about the other error, i did as you said :

1) start the simulator
2) search your app with the app manager and push the update bouton
3) then The app calendar is on the simulator
4) but when i try to run it , i have a black screen and nothing happen ...
Is it connected to gaia profiles" ? ( bec

[2014-04-19 14:14] julienw commented on #65
In the app manager, you can then "debug" your app, once it's launched.

Can you have a look to the "console" tab in the app manager and see if there is anything meaningful?

[2014-04-19 14:47] ghost commented on #65
logs when i installed the app :

16:35:33: Found simulator: Firefox OS 1.3
16:35:34: Starting simulator...
16:35:34: Simulator ready. Connecting.
16:35:34: connecting to localhost:49258
16:35:43: connected
16:35:43: Connected to simulator.
16:36:00: Installing the Calendar app...
16:36:03: Install completed.

in the debug section i found nothing . But when i look the app i have two warnings :

the

[2014-04-19 14:49] ghost commented on #65
when i look for  other app it's the same problem ...

[2014-04-19 14:55] ghost commented on #65
gaia profile is needed for this too ?  here is a picture when i try to start my app
![sans titre](https://cloud.githubusercontent.com/assets/6142761/2748726/ad197332-c7d2-11e3-9733-544f725a1516.png)

[2014-04-20 08:25] ghost commented on #65
Hey i found the mistakes but not all :

First i fixed the 2 warnings ( it' was nothing but anyway it's done)
After, i looked the index.html ( the launch file which is in the manifest file) and there are outside references  of directory calendar app .

In the index.html :
script   defer src="/shared/js/l10n.js"    script
....
....
=>  nothing is found, it's why i had black screen.

But if i move th

[2014-04-20 13:17] julienw commented on #65
I somehow missed the fact that you were working on a app from Gaia.

This does not work so well with the app manager because we do some things at build time, it's not just a bunch of js/css/html files.

The best would be to use a standalone b2g but I don't know if it's possible to connect to it using the app manager then (and the app manager is what makes it easy to use the remote debugger and rem

[2014-04-20 13:46] ghost commented on #65
thank a lot ,it's will be very usefull  when we test it  on a firefox phone .

In searching i found this solution ,  it's almost the same that one of yours :

1) Download a standalone b2g
2) pickup the calendar directory
3) move on app manager
4) start the os simulator and update the app

Then the application is fully operationel, thank any way .

Now i try to run my own app , but i have some issu

[2014-04-20 21:22] julienw commented on #65
I don't really know how to implement a file selector. Usually we use DeviceStorage. Maybe an activity would work too. But you should really ask the calendar maintainers, I'm not one of them :)

[2014-04-21 07:30] ghost commented on #65
OK , i will do it but where i can found a calendar maintainer ?
( if you know one of them, this will be awesome ) .
There is a mozilla website dedicated to the firefox app maintenance ?

This is my first contribution to the OS firefox, I'm not used to working like that , I apologize for my "neophism"....
Thanks :) .

[2014-04-21 08:21] jdm commented on #65
https://wiki.mozilla.org/Modules/FirefoxOS#Calendar

[2014-04-28 14:24] AchoArnold commented on #55
This project looks interesting and I may like to work on it this summer. Please who can I contact If I need more information about the project

[2014-05-07 13:37] Mte90 commented on #56
any news about this?

[2014-05-24 12:35] brianeshaw commented on #21
Hey everyone, has there been any progress on this project? This is exactly what I've been looking for and there doesn't appear to be anything else available to do the task of transferring old texts (or backing them up) to or from Firefox OS.

[2014-06-03 13:17] AntoineTurmel commented on #21
@PerturbedPenguin
No progress from what I can see. Feel free to contact to ask here for help.

[2014-07-06 10:22] reznord commented on #6
Hi,

This project sounds interesting to me. Can I get assigned to this project? Can I get more information about this?

[2014-07-06 10:52] reznord commented on #21
@AntoineTurmel  I guess there are already some apps for Android which can do this. If we can get those apps, we can port them to use in Firefox OS right?

This is just an idea from my side. But need to discuss more about the app. In Android for example there is Super Backup[1](https://play.google.com/store/apps/details?id=com.idea.backup.smscontacts&hl=en) app for Android which does the same thing

[2014-08-07 13:32] Amanjot1507 commented on #21
Hi!
I would like to work on this project. Is it up for grabs?

[2014-08-07 17:16] AntoineTurmel commented on #21
@Amanjot1507 yes !!!!

@Anup-Allamsetty
You can't really port easily the Android app because you have to use WebSMS API. But you can use the same XML output format or also JSON :)

[2014-08-07 17:19] Amanjot1507 commented on #21
Nice!
I am going to start on this now.
I read your comments on getting started, but still I would need help.
Will you mentor this project?

[2014-08-07 17:44] AntoineTurmel commented on #21
@Amanjot1507 I would be pleased yes !
as I said earlier, look at the SMS application and WebSMS API.
I'm for a XML and/or JSON import/export

[2014-08-08 01:51] hansgogia commented on #21
Hey guys
I had started this project as my minor project last year but I had to hold back because of unavailability of a firefox device. I ran the Open WebApp on emulator but couldn't figure out how to add messages on it to test. All I could get was point to null object.

[2014-08-08 14:49] Amanjot1507 commented on #21
@AntoineTurmel
Hey!
Anywhere else I could contact you? Email, IRC etc. ?
Have a lot of questions to ask, if you don't mind.

[2014-08-11 11:49] AntoineTurmel commented on #21
@Amanjot1507
on IRC: irc.mozilla.org
my nick is GeekShadow
mail: antoine [dot] code [at] turmel [dot] info

[2014-08-16 17:26] Amanjot1507 commented on #21
@AntoineTurmel
1. Is it possible to have SMS messages already in the firefox OS simulator, so that I can test their import/export after I have created the app?
2. SMSs should be backed up as an XML document when exported and imported by parsing the XML document. Is that correct or is some other implementation required?
3. Do I have to create a standalone web app or is it supposed to be embedded in

[2014-08-21 14:20] AntoineTurmel commented on #21
1. Hmm I'm looking at this, it should be possible to "dogfood" to preload with SMS
2. It is correct, if you choose XML format you should use the same format this Android app use :
   https://play.google.com/store/apps/details?id=com.riteshsahu.SMSBackupRestore&hl=fr (so people can migrate easily).
   A JSON import/export would be a plus, but not required.
3. To begin with, a standalone app is good

[2014-08-21 14:27] AntoineTurmel commented on #21
Also you can look at @frayar work here:
https://github.com/frayar/SMSBackupRestore

[2014-08-21 16:44] reznord commented on #21
@AntoineTurmel
Is the above comments are mentioned to me or is it to Amanjot? Asking about the bug assigning. I have already started working on this.

[2014-08-22 08:26] AntoineTurmel commented on #21
@Anup-Allamsetty it's for everyone working on this project.
Please work together then :)

[2014-08-22 08:37] AntoineTurmel commented on #6
@lissyx @Anup-Allamsetty
I assume there are enough QR/Barcode reader on the marketplace so this issue can be closed ?
Maybe the bug could be renamed as to include QR Code reading in the Gaia Camera app ?

[2014-08-22 08:58] AntoineTurmel commented on #56
There are now severals "Explorer" apps on the marketplace and it's possible to pick files using it:
- https://marketplace.firefox.com/app/explorer
- https://marketplace.firefox.com/app/files

I assume now we want to integrate a file browser, directly to gaia no ?

[2014-08-22 12:34] Mte90 commented on #56
There is also my post on stackoverflow http://stackoverflow.com/questions/23527190/file-picker-on-firefox-os

I think that a file picker is less invasive and simple respect to file browser.
Choose a file (sd or system) and return the name, the path and the glob (if required)

[2014-08-22 17:50] reznord commented on #21
@AntoineTurmel @anandsoni11 @hansg01 @Amanjot1507
Hi, If anyone is working on this project, I would be happy to join to work together on this project. I don't have anyone's contacts. If anyone is working on this project, please feel free to contact me at allamsetty.anup@gmail.com

[2014-09-08 22:10] AntoineTurmel commented on #72
see also https://addons.mozilla.org/fr/firefox/addon/profilist/?src=api https://github.com/Noitidart/Profilist which is pretty nice @Yoric

[2014-09-16 18:18] Amanjot1507 commented on #56
Is this project complete ?

If it is not, I would like to work on it! :)

[2014-09-17 14:48] Mte90 commented on #56
http://stackoverflow.com/a/25827039
A developer have written a file picker, i'm waiting a code example for try it :-)

[2014-09-22 12:48] AntoineTurmel commented on #58
Rien n'empêche la création d'une application privilégiée pour le moment. (Ça devra aussi être le cas pour la création d'une application de client SSH).

[2014-09-22 13:10] AntoineTurmel opened #80 "SSH and Terminal Client"
It would be super nice to have a SSH Client on Firefox OS using [TCPSocket](https://developer.mozilla.org/en-US/docs/Web/API/TCPSocket).

See [Bug 878972](https://bugzilla.mozilla.org/show_bug.cgi?id=878972) and [this etherpad](https://etherpad.mozilla.org/UiQA0T4Xer).

[2014-09-24 14:53] Chinmay26 commented on #80
hi @AntoineTurmel  @Yoric ,
I would love to start working on this. The anyterm solution proposed here[0] and the webshell solution [1] are not the proper fixes, am i right??
I will start digging more into this. Can someone suggest the next steps?

[0]https://support.mozilla.org/de/questions/1006954
[1]http://piie.net/index.php?section=firefoxos

[2014-09-29 13:22] AntoineTurmel commented on #80
Anyterm and webshell are just workaround and are not really that reliable.
I think you should look on how FireSSH works and how you could port it with JavaScript and TCPSocket.
You can grab Firefox Nightly and try WebIDE to make a sample WebApp.

[2014-09-29 14:28] Mte90 commented on #73
https://marketplace.firefox.com/app/afinador-para-ukelele?src=search
https://marketplace.firefox.com/app/free-guitar-tuner-1?src=search
https://marketplace.firefox.com/app/firechord?src=search

Maybe this ticket is to be closed

[2015-01-09 14:59] AntoineTurmel commented on #80
So the project is under work:
https://github.com/chuckwagoncomputing/fxos-firemote (Firefox OS client)
https://github.com/chuckwagoncomputing/paramikojs (JS Library ported for Gaia)

If you want to help @Chinmay26 ;)

[2015-01-15 14:06] Chinmay26 commented on #80
Thanks for the ping @AntoineTurmel . I will have a look around .

[2015-01-28 13:20] #73 closed

[2015-01-28 13:28] AntoineTurmel opened #82 "Write SMS from desktop to be send on Firefox OS"
The idea comes from [Airdroid](https://www.airdroid.com/).
It would be nice to have an app to write text messages from a desktop computer and send them to Firefox OS.

[2015-01-28 13:31] AntoineTurmel opened #83 "Remote notifications of Firefox OS"
It would be nice to be able to display Firefox OS device notifications on a computer: call, sms etc.

Just like [Android notifier](https://code.google.com/p/android-notifier/).

[2015-01-28 13:37] Mte90 commented on #83
Missing an api for read the notifications on Firefox OS :-/

[2015-01-28 14:41] AntoineTurmel commented on #83
Ok so it would need to be an App add-on or a gaia modification.
(Apps add-ons are coming see : https://bugzilla.mozilla.org/show_bug.cgi?id=923897)

[2015-01-28 16:45] AntoineTurmel opened #84 "Make Gamepads compatible on Firefox OS"
This would need code on Gonk/Gecko, Firefox already support Gamepad API.
I'll post more details soon.

[2015-02-04 14:43] Yoric commented on #82
So, this would require patching the Gaia SMS app to make it able to receive messages that are not SMS, right?

[2015-02-06 10:30] AshishKhatkar commented on #83
Hello There!

I and some of my friends would like to work on a modification that will present an API for other applications to read the notifications in Firefox OS. Such an API can be used by apps like AirDroid or other file functions apps that need access to the notifications generated by Firefox OS. It can also be used to monitor events on the Phone by, say, a desktop application.

Please let me

[2015-02-06 13:43] AntoineTurmel commented on #82
Either patching Gaia SMS or forking it...

[2015-02-06 13:44] AntoineTurmel commented on #83
@AshishKhatkar you can go for it :+1:

[2015-02-06 14:35] AshishKhatkar commented on #83
@AntoineTurmel will you be mentoring us or we have to find someone.

[2015-02-07 11:16] devs4v commented on #83
Hello @AntoineTurmel,
I am in with @AshishKhatkar for this project. We would like to have some guidance as to what all we should start concentrating on to successfully develop this project. Any leads or focus areas we should have a look?

[2015-02-25 14:04] AntoineTurmel opened #85 "Additional column to list mails with a framadate/doodle link"
The idea is an add-on for Thunderbird to add an additional column (like the enclosed column) to notify user if a mail contains a framadate/doodle link.

To be more complete, the add-on would let the user add customs columns with customized icons based on URL scheme.

Eg. column for framadate
my_icon.png
look for mail containting http://framadate.org/* links.

[2015-03-10 19:30] AntoineTurmel opened #86 "App to collect my receipts, bills and official papers."
The idea is to be able to scan/take pictures all my important documents like bills, receipt, official papers and log them along with linked informations.
This should be secure (password protected/ecnrypted) and should allow sync with a server (personal server or other 3rd party like Dropbox/OneDrive).
I should also be able to retrieve them if I plug my phone to the PC.

This should save either to

[2015-03-12 01:35] MikeLing commented on #86
@AntoineTurmel  Hi~ I'm very interesting about this project,  now the problem is I have skill python and C/C++ but know little about JavaScript. To learn JavaScript from the very beginning. I will try my best with it if that is ok. :)

[2015-03-12 03:26] ghost commented on #86
Hi,
I want to contribute to this project as my first open source contribuition. I am really comfortable with Javascript and I enjoy tinkering with with different apis.

[2015-03-12 03:45] MikeLing commented on #86
@meekazhu  Hi~ Maybe we can work together with this project if you will. :)

[2015-03-12 09:16] AntoineTurmel commented on #86
@MikeLing @meekazhu feel free to work together :)
I can provide more informations on how the app could work.

[2015-03-12 09:33] MikeLing commented on #86
@AntoineTurmel
Thanks a lot! Please tell me more about this project, and I will create a project immediately and paste it's url in here. Do you have any idea about this app's name? :)
(by the way, I've begun to learn JavaScript and I hope it's not too late. XD

[2015-03-12 12:12] MikeLing commented on #86
@AntoineTurmel  @meekazhu
I had create a issue at [MiniCloud](https://github.com/MikeLing/MiniCloud)

I'm wondering the meaning of  "open web app" and "Firefox OS" tag. Is that mean this app is based on API of Firefox OS but a independent web app which can be used through website?

I thought you mean the app should allow user create his/her own account and login through password, you can drag your

[2015-03-15 21:15] rabimba commented on #80
@AntoineTurmel I think I wrote a Telnet client long ago which is available in FxOS https://marketplace.firefox.com/app/fire-telnet?src=search

It won't be hard to implement SSH over it.

PS: Oh and I remember author of firemote getting in touch with me early January when I was travelling...

[2015-03-16 00:15] rabimba commented on #58
I would like to take this one up @AntoineTurmel

[2015-03-16 03:25] ghost commented on #86
@AntoineTurmel @MikeLing

Hi everyone,
Sorry about the late response. Yes Mike Ling we can definitely start collaborating. And Antoine can you brief us more about the project?. Thanks,

[2015-03-16 05:43] MikeLing commented on #86
@meekazhu
Hi~ meekazhu, I'm glad to work with you and I'm also waiting Antoine tell us more detail before we can start with it.
By the way, I think we could use email or other efficient way to discuss about the project in future. :)

[2015-03-16 13:30] AntoineTurmel commented on #86
This have the "Firefox OS" because it should run on it, but not exclusively, this should work across browsers :) Also I want to be able to sync on open source services like Owncloud and Cozycloud.
I'll try to detail the project today.

[2015-03-16 13:35] AntoineTurmel commented on #58
@rabimba feel free to do it :)

This have already been done but not open sourced:
https://marketplace.firefox.com/app/izzyftp

[2015-03-16 13:41] AntoineTurmel opened #87 "Application to share live GPS Track"
So I want an application to share my GPS Track live to a friend, example case:

- I plan to go to a town with my car, I should take me one hour
- I want to share live my location, so my friend can see where I am if I'm late

http://find.firefox.com/ already does this a bit, but it's limited to the owner user account.
I want to to be able to set up a drive path, and to display traffic delays etc.

[2015-03-16 13:43] AntoineTurmel commented on #80
@rabimba good :) Feel free to contribute with @chuckwagoncomputing on it !

[2015-03-16 13:45] AntoineTurmel commented on #58
Nevermind it's open sourced : https://github.com/izzyway/izzyftp
You can contribute on this repository, I'm closing this issue :)

[2015-03-16 13:45] #58 closed

[2015-04-03 16:55] ghost commented on #86
@AntoineTurmel Just wanted a heads up if you are going to provide more details for this project?. If yes, please do it soon. Thanks,

[2015-04-27 15:13] AntoineTurmel opened #88 "Migration assistant"
The idea is to build an app to help user move from Android, Windows Phone or iPhone to Firefox OS. (Even from Firefox OS to Firefox OS).

Data to migrate:
- Contacts (CardDAV, VCF, Google, Facebook)
- SMS (see issue #21)
- Applications installed (check if there is a match of application)
- Applications credentials
- Search Engines
- Bookmarks
- Mail configuration
- Calendar configuration
- Wallpap

[2015-05-14 12:55] Waterloo commented on #21
@AntoineTurmel  I am interested in taking this project, but i don't think that a packaged app can query the messages...

[2015-05-14 13:09] Amanjot1507 commented on #21
@Waterloo
I built a packaged app for this. I succesfully queried the SMS database and stored the messages in a file.
The main problem is the addition of these stored messages back to the SMS database (the Restore functionality). The Core API does not have any function to add messages to the SMS database.

@AntoineTurmel could help further.

[2015-05-14 14:33] AntoineTurmel commented on #21
Yeah unfortunately, it's not possible yet to restore SMS, but Mozilla is working on a new feature called "add-ons" for apps. It will let you add features to current apps.
https://bugzilla.mozilla.org/show_bug.cgi?id=1162200

@Amanjot1507 you did a very great job so far with the export feature I wish I could have been more available to help you.

[2015-05-14 15:25] Waterloo commented on #21
Thats a great thing. I was in search for an app like that. where can i find the source of the current build ?

[2015-05-14 18:02] Amanjot1507 commented on #21
@AntoineTurmel Without you I would still have been struggling with running gaia. :P

if you're relatively free now, could you guide me in adding the restore functionality to the main codebase ?

[2015-05-17 18:29] Givemore commented on #82
can you please elaborate more of what do you want to do exactly because i am finding it difficult to understand

[2015-05-17 18:32] Givemore commented on #86
It sounds nice... @AntoineTurmel count me in on the project. So when is the exact start date of the project?

[2015-05-17 18:49] AntoineTurmel commented on #82
@Givemore
1. connect my computer to my phone
2. I have a web page or app on my computer with a text box to type my SMS and list to choose my contact
3. I hit send button
4. The message is sent to phone and SMS is sent

[2015-05-17 19:09] Givemore commented on #82
Cool i that wont be a problem and i have once done something like that before. So my problem is i do not have any firefox os device that i can use to implement that on... normally i use firefox os simulators for my app development. So when do you want it done?

[2015-05-17 19:48] AntoineTurmel commented on #82
There is no planning date, you can do it when you can ;)
A Firefox OS device is needed because you can't use SMS API on the Simulator unfortunately.

[2015-05-17 19:51] Givemore commented on #82
I really wanted to do that... hope i will find the next interesting project

[2015-05-19 20:32] Amanjot1507 commented on #88
Apart from the FirefoxOS version this app would have it's versions in Android, Windows, Iphone etc. so that it can be run on them, right ?

How will all this data be moved between the new device and the old one ?

[2015-05-19 23:08] AntoineTurmel commented on #88
Yeah I think we need at least an app on Android/Windows Phone/iOS to export data.
Data could be export in several way:
- Source Phone storage and manual copy to the new Phone
- Wi-Fi (from a device to another)
- Bluetooth (from a device to another)
- Cloud (data need to be encrypted before on the Source Phone with a pass phrase)

[2015-05-20 03:06] Amanjot1507 commented on #88
Okay. I'm interested. I'll start working on it right away.

I have many questions, would love to have guidance from you. :)

[2015-05-20 07:41] AntoineTurmel commented on #88
As of Android/Windows Phone/iOS, I don't have much knowledge but I can try to help you anyway.
For the project in general I'll do my best :)

[2015-05-26 13:06] AntoineTurmel commented on #82
Maybe @Amanjot1507 you are interested ?
You have to display SMS of the phone on the desktop and a box to allow send an SMS.

You can take inspiration from [oCSMS](https://apps.owncloud.com/content/show.php/ownCloud+SMS?content=167289) and [AirDroid](https://www.airdroid.com/).

You could also use the Push API :)

[2015-05-26 14:49] Amanjot1507 commented on #82
Yeah, I am!

I'm reading it up, I'll ping you if I have any questions. :)

[2015-05-27 06:56] r007me commented on #87
I can Start with this project can You elaborate on this please

[2015-05-27 08:59] AntoineTurmel commented on #87
Here is an usecase:
1. I open the _webapp_, it show me a map
2. I can type the adress where I want to go and click on start button
3. A journey is saved online so my friend can see it on a _webpage_
4. I start driving
5. My coordinate points are uploaded every minute online
6. My friend can see where I am on the journey with a little icon (for instance a car) on the map
7. When I finish the journe

[2015-05-27 09:11] AntoineTurmel commented on #86
You can start off this app:
https://marketplace.firefox.com/app/foxscanner ([code source](https://github.com/valos/FoxScanner))

What would be cool to add:
- Tag an document (eg. bill, water, home)
- Add a description to a document
- data encryption
- sync on a personal server (eg. Owncloud) or 3rd party server like Dropbox/OneDrive

I filed those issues in the repo:
https://github.com/valos/FoxSc

[2015-05-27 09:18] r007me commented on #87
I have gone through the details,So I need to refresh my javascript now for this app as last time I made an app for firefox os was January, and plus I will find someone else with me to work on it , and try to start with this as soon as possible.

[2015-05-27 09:24] AntoineTurmel commented on #82
You will also need the Contact API to get username/phone match.

[2015-06-04 14:50] AntoineTurmel opened #89 "Blacklist number app"
Allow the user to blacklist a phone number.
This could be a dialer add-on starting with Firefox OS 2.5.

[2015-06-04 14:54] AntoineTurmel opened #90 "Phone name lookup app"
When an unknown phone call, it would be nice to search on some websites (like Facebook) for a match.
On Facebook you can search for someone using his phone number if it's public info.
This could also use white/yellow pages service from the home country.

This should be a dialer add-on starting with Firefox OS 3.0, plus it would be nice to allow adding the number + name to the Contacts app.

[2015-06-15 14:08] hvardhanx commented on #11
@nickdesaulniers  We have created this app here : https://github.com/GhostAlgorithm/lendyou
Developers : Jorge Gomez (@GhostAlgorithm) and Harsh Vardhan (@royalharsh)
We would love to get some feedbacks. :)

[2015-06-16 12:48] AntoineTurmel commented on #11
@royalharsh It worked great for me !
A plus would be integration with phone contacts.

[2015-06-16 21:23] jrg96 commented on #11
Where can we get more information about that?

[2015-06-17 13:13] jrg96 commented on #11
An action that you're performing violates the CSP (content security policy). While this does not affect your app, if you decide to add permissions to your app in the future, you will be unable to do so until this problem is corrected.

What can I do if this violations are from libraries like jQuerym Bootstrap and other third party libraries?

[2015-06-22 02:47] VenkatDatta commented on #88
I'm also interested in contributing to this project .
 @Amanjot1507 can we work on this as a team?

[2015-06-23 03:01] jrg96 commented on #11
@AntoineTurmel great news I think :D!

https://marketplace.firefox.com/app/lend-you/

And the repo of the project:
https://github.com/InfinioPlus/lendyou-fxos

[2015-06-23 04:45] Amanjot1507 commented on #88
@VenkatDatta Sure!

[2015-06-23 07:48] hvardhanx commented on #11
It has also been integrated with phone contacts . :smile:

[2015-06-24 07:34] AntoineTurmel commented on #11
@GhostAlgorithm @royalharsh nice job !
I guess the next step could be the ability to sync this list to a remote server :)

[2015-06-24 07:34] #11 closed

[2015-06-26 14:15] AntoineTurmel opened #91 "Support group Direct Messages on Twitter Macaw webapp"
See issue here: https://github.com/minego/macaw-enyo/issues/68

[2015-06-26 14:32] AntoineTurmel opened #92 "Tide tracking webapp"
It would be nice to have an app to track [tides](https://en.wikipedia.org/wiki/Tide) timetable.
Example of data here:
http://maree.info/117 (in french/Saint-Nazaire)
http://tidesandcurrents.noaa.gov/stationhome.html?id=9414290 (in english/San Francisco)

[2015-07-17 09:04] AntoineTurmel commented on #87
Here is a similar application that just share the current location:
https://marketplace.firefox.com/app/im-here/?src=search

[2015-07-24 23:10] AntoineTurmel opened #93 "Magic The Gathering points counter"
Life points counter app like this one:

https://play.google.com/store/apps/details?id=com.lander.hello

[2015-08-12 10:02] AntoineTurmel opened #94 "Music festival app"
Design a web app that let user:
* Look for concerts by scenes/location (hours, duration etc.)
* Look for artists
* Favorite concerts
* Have notification/reminders X minutes before the concert start
* Have directions between user position and the concert location
* Give user position to another user (locate a friend)
* Navigate on a map to see booths, food, toilets, music scenes
* Offline mode
* Op

[2015-08-29 13:19] MedMaalej commented on #94
Hi ,
I want to develop this application .
How can I proceed ?
Thanks .

[2015-08-29 13:32] MedMaalej commented on #94
Hi Antoine ,
I am a software engineering student and this will be my first experience with open source contribution .
How to start contributing to this project ?
Thanks :)

[2015-08-31 09:43] AntoineTurmel commented on #94
@MedMaalej
you can open your own repository and look how Music Festival apps works on Android for instance.
You will have to think how you will store data and organize your project.
On Firefox OS you will need your app to use HTML5/CSS/JavaScript. For the server side, it's up to you but I can suggest node.js/Python/PHP.

[2015-12-04 04:53] Prudhvee commented on #87
I would like to work on this project. How do I move on this?

[2016-01-04 13:42] sarkarshuvojit commented on #89
Hey? I'm interested to do this. This is still open right?

[2016-01-04 14:06] AntoineTurmel commented on #89
Yeah, still opened. You might start looking at Firefox OS add-ons to do it:
https://developer.mozilla.org/en-US/docs/Mozilla/Firefox_OS/Add-ons

I'm not sure some stuff are possible though, like pretending line is busy or phone is off.
But it's possible to make the phone silent when some numbers calls.

[2016-01-04 17:18] sarkarshuvojit commented on #89
So, I have to install a simulator(I don't own a FFOS device) > 2.5 right? The latest in the list is 2.6
Also, should I im or irc you for further queries? or is github okay?

[2016-01-04 17:36] Yoric commented on #89
Unfortunately, if my memory serves, you'll need a FFOS device to be able
to test incoming calls.

On 04/01/16 18:18, Shuvojit Sarkar wrote:

[2016-01-04 17:38] sarkarshuvojit commented on #89
Oh yeah. Sorry. :disappointed:
Should have thought about that.

[2016-02-20 14:03] AntoineTurmel commented on #80
Closing this issue since it's in work by @chuckwagoncomputing

[2016-02-20 14:03] #80 closed

[2016-02-20 14:08] AntoineTurmel commented on #55
Done
https://addons.mozilla.org/en-US/thunderbird/addon/owncloud-for-filelink/

[2016-02-20 14:08] #55 closed

[2016-02-20 14:13] #6 closed

[2016-02-20 14:18] AntoineTurmel opened #95 "Help fork Firefox OS for smartphones"
Here is pad if you are interested:
https://public.etherpad-mozilla.org/p/firefoxos_is_not_dead

[2016-02-20 14:30] #56 closed

[2016-04-17 22:44] sgedward commented on #94
Just wondering is that still available?

[2016-04-21 03:06] mm1729 commented on #94
Hi Antoine,
I realized this idea has been open for almost an year. I am interested in working on this project. However, is this app going to be used by Mozilla? Or is this simply just a project ideas list?

[2016-04-21 03:33] sgedward commented on #94
I believe firefox os has been terminated. check the news

[2016-04-21 10:30] AntoineTurmel commented on #94
@sgedward @mm1729
Though Firefox OS is ended, there is still possibility to develop this webapp.
You might follow progressive web apps guidelines:
https://developers.google.com/web/progressive-web-apps

This app will not be used directly by Mozilla, but mainly by end-users.
Developing it as a web app makes it compatible for a long wide range of devices.

[2016-05-20 01:23] tdulcet opened #96 "Port Thunderbird to Android"
Create a Thunderbird app for Android, similar to [Firefox for Android](https://play.google.com/store/apps/details?id=org.mozilla.firefox). There are few mobile email apps and none have the features, security and privacy of Thunderbird.

For more information see:
- [https://bugzilla.mozilla.org/show_bug.cgi?id=680080](https://bugzilla.mozilla.org/show_bug.cgi?id=680080)
- [https://bugzilla.mozilla.

[2016-08-12 09:40] Mte90 commented on #72
now there is about:profiles so i think that we can close this ticket

[2016-08-17 12:31] AntoineTurmel commented on #72
@Mte90 it's nice but not discoverable really for a basic user

[2016-08-17 13:27] Mte90 commented on #72
there are many extension that simplify that already shared on the ticket for that reason i think that can be closed

[2016-08-17 15:12] AntoineTurmel commented on #72
Right :)

[2016-08-17 15:12] #72 closed

[2016-10-27 06:17] naveenjafer commented on #96
@tdulcet is this project still currently active? What about the roadmap for the same?

[2016-10-27 10:01] AntoineTurmel commented on #96
@naveenjafer It's not active and there is no roadmap for it.
Mozilla Corp is not really working on Thunderbird anymore aside compiling and publishing it with changes from community.
You are free to work on it, but it's not an easy task.

[2016-10-28 03:39] naveenjafer commented on #96
@AntoineTurmel Thanks for the tip, any project involving JS that you would know of that currently requires some work and also has a decent roadmap for the near future? Any pointers would be really helpful. Quite a lot of things have been abandoned in the mozilla ecosystem of late, it has become a daunting task to find the right one to work on.

[2016-10-28 07:20] tdulcet commented on #96
@naveenjafer This project is not yet active, but we are currently looking for people to contribute. Feel free to work on it. The UI for Thunderbird for Android would involve some JS and you could possibility reuse some of the components of Firefox for Android.
There are many other Mozilla related projects here: [https://bugzil.la/kw:student-project](https://bugzil.la/kw:student-project).

[2016-11-21 19:10] rjrajivjha commented on #92
@AntoineTurmel  i would like to work upon the webapp.

[2016-11-22 01:50] AntoineTurmel commented on #92
@rajivjhaimin
Feel free to start 👍
Here are some good references:
- https://developer.mozilla.org/en-US/Apps/Progressive
- https://developers.google.com/web/progressive-web-apps/

[2017-01-16 15:56] prajwalMR commented on #94
@AntoineTurmel

Hi Antoine,
Although i haven't contributed to open source till now , I have a fair experience on developing web Apps.
I feel this project would be a great way to start my contribution. So I would love to hear from you if  this project is still open for contribution or is it done.

[2017-01-17 21:37] AntoineTurmel commented on #94
@prajwalMR it's still open ! Feel free to start a project and ask for help :)

[2017-01-24 16:17] prajwalMR commented on #94
@AntoineTurmel
Will the following tech stack be okay ?
NodeJS for backend  , AngularJS for frontend , Mysql for DB.

On Wed, Jan 18, 2017 at 3:07 AM, Antoine Turmel <notifications@github.com>
wrote:

[2017-01-28 17:43] CruiseDevice commented on #94
@prajwalMR Why not use MongoDB instead of MySql?

[2017-01-28 21:11] prajwalMR commented on #94
@CruiseDevice  , @AntoineTurmel
Ya , sure.

[2017-02-01 18:23] prajwalMR commented on #94
@AntoineTurmel

Do you think this kind of design will be suitable for the app?

follow the link to an app called Nearify:
https://itunes.apple.com/in/app/nearify-discover-all-fun-events/id905913930?mt=8

[2017-02-03 19:09] AntoineTurmel commented on #94
@prajwalMR seems good 👍

[2017-02-17 15:43] AntoineTurmel commented on #21
Closing this issue since Firefox OS is discontinued 😢

[2017-02-17 15:45] #21 closed

[2017-02-17 16:08] AntoineTurmel commented on #90
Closing it for now as Firefox OS is discontinued...

[2017-02-17 16:08] #90 closed

[2017-02-17 16:08] AntoineTurmel commented on #89
Closing it for now as Firefox OS is discontinued...

[2017-02-17 16:08] #89 closed

[2017-02-17 16:08] AntoineTurmel commented on #88
Closing it for now as Firefox OS is discontinued...

[2017-02-17 16:08] #88 closed

[2017-02-17 16:08] AntoineTurmel commented on #84
Closing it for now as Firefox OS is discontinued...

[2017-02-17 16:08] #84 closed

[2017-02-17 16:09] AntoineTurmel commented on #83
Closing it for now as Firefox OS is discontinued...

[2017-02-17 16:09] #83 closed

[2017-02-17 16:09] AntoineTurmel commented on #82
Closing it for now as Firefox OS is discontinued...

[2017-02-17 16:09] #82 closed

[2017-02-17 16:09] AntoineTurmel commented on #65
Closing it for now as Firefox OS is discontinued...

[2017-02-17 16:09] #65 closed

[2017-02-17 16:09] AntoineTurmel commented on #47
Closing it for now as Firefox OS is discontinued...

[2017-02-17 16:09] #47 closed

[2017-07-27 17:24] Sairam-Ganti commented on #87
@r007me did you work further on this?